#songsApp{
    color:var(--text);
    background-color: var(--background);
}
#songsContainer{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    background-color: var(--background);
    color: var(--text);
    padding:0 5rem 0 5rem;
    margin:0 auto 0 auto;
    max-width: 1400px;
    min-height: 50vh;
}

.songsHeader{
    display:flex;
    justify-content: space-between;
    background-color: var(--elements);
    box-shadow:var(--shadow);
    padding:1rem;
}
.songsHeader button{
    background-color: var(--background);
    color:var(--text);
    border:0;
    border-radius: 0.5rem;
    padding:0.5rem;
}
.logo{
    margin-left:1rem;
    margin-top:0.5rem;
}
/* .searchBar{
    display:flex;
    justify-content: space-around;
    background-color: var(--background);
    padding: 1rem 0 1rem 0;
    height: 70px;
} */
.searchBar{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--background);
    margin: 2rem 0 1rem 0;
}
.searchField{
    position:relative;
    height:25px;
    width:360px;
}
#searchIcon{
    position:absolute;
    left:5px;
    top:50%;
    transform:translateY(-50%);
    z-index: 1;
}
#searchInput{
    background-color: var(--input);
    color:var(--color);
    position: absolute;
    left:0;
    border-radius:0.5rem;
    border:0;
    box-shadow: 0 0 8px rgba(41, 43, 46, .2);
    height:100%;
    width:360px;
    padding: 0 0 0 2rem;
}
.favoritesBtn{
    background-color: var(--input);
    color:var(--text);
    border-radius: 0.5rem;
    border:0;
    box-shadow: 0 0 8px rgba(41, 43, 46, .2);
    height:100%;
    width:80px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.favoritesBtn:hover{
    scale:1.05;
    transition: 0.3s ease;
}
.clickedDarkFavoritesBtn{
    
}

.btnClicked{
    box-shadow:inset 0 0 8px rgba(41, 43, 46, .2); 
}
.btnClicked:hover{
    scale:1.00;
}

.selectDiv{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:25px;
}
#searchSelect{
    background-color: var(--input);
    color:var(--text);
    border-radius: 0.5rem;
    border:0;
    box-shadow: 0 0 8px rgba(41, 43, 46, .2);
    margin-left: 1rem;
    height:100%;
    width:60px;
}

.Song {
    position:relative;
    border-radius:5%;
    background-color: var(--elements);
    height:300px;
    width: 250px;
    z-index: 1;
    margin-top: 15px;
    text-align: center;
    transition: 0.3s ease;
    overflow:hidden;
    box-shadow: 0 0 5px rgba(41, 43, 46, .2);
    img{
        margin:auto;
        height:50%;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
    }
    a{
        text-decoration: none;
        color:black;
    }
    h3{
        margin: 1rem 0.5rem 0.5rem 0.5rem;
    }
}
.Song span{
    padding-top: 1rem;
}

.Song:hover{
    scale:1.05;
}

.songLikeButton{
    position:absolute;
    right:1rem;
    bottom:1rem;
    font-size: 2rem;
    background:none;
    border:none;
}
.songLikeButton:hover{
    scale:1.05;
    border-radius: 50%;
    border:1px solid var(--background);
    background-color: var(--background);
}

.SongExt{
    position:relative;
    z-index:11;
    width:80%;
    margin-left:2rem;
    display:flex;
    flex-direction: column;
}
.backArrowDiv{
    position:relative;
    height:3rem;
    margin-bottom: 1rem;
}
.backArrowBackground{
    z-index: 11;
    width:5rem;
    height:3rem;
    background-color:var(--arrowBackground);
    border-radius: 50%;
}
.backArrowImg{
    position:absolute;
    top:1.5rem;
    width:5rem;
    z-index: 12;
    transform: translateY(-2.5rem);
}
.innerSongExt{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--elements);
    box-shadow: 0px 1px 50px -10px rgba(0,0,0,0.75);
    border-radius: 0.5rem;
    overflow: hidden;
}
.SongExt .imgDiv{
    /* width:40%; */
    position:relative;
    z-index: 10;
    .artistImg{
        opacity: 100%;
        width: 100%;
    }
}
.SongExt .infoDiv{
    padding:1rem 1rem 1rem 1rem;
    display:grid;
    grid-template-rows:2fr 1fr;
    z-index: 10;
}

.loadingDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:70vh;
}
.loadingImg{
    height:200px;
}

#songsApp Footer{
    background-color: var(--background);
}

@media(max-width:400px){
    #songsContainer{
        margin:0;
        padding:0;
    }
    #songsApp #searchInput{
        width:80%;
    }
    /* #songsApp .searchBar{
        grid-template-columns: ;
    } */
}