#songsApp{
    color:var(--text);
}
/* #songsApp button{
    background-color: var(--background);
    color:var(--text);
    border:0;
    border-radius: 0.5rem;
    padding:0.5rem;
} */
#songsContainer{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    background-color: var(--background);
    color: var(--text);
}

.songsHeader{
    display:flex;
    justify-content: space-between;
    background-color: var(--elements);
    box-shadow:var(--shadow);
    padding:1rem;
}
.logo{
    margin-left:1rem;
    margin-top:0.5rem;
}
.searchBar{
    display:flex;
    justify-content: space-around;
    background-color: var(--background);
    padding: 1rem 0 1rem 0;
}
.searchField{
    position:relative;
    height: 30px;
    width:360px;
}
#searchIcon{
    position:absolute;
    left:5px;
    top:5px;
    /* transform:translateY(-50%); */
    z-index: 1;
}
#searchInput{
    background-color: var(--input);
    position: absolute;
    left:0;
    border-radius:0.5rem;
    border:0;
    box-shadow: 0 0 8px rgba(41, 43, 46, .2);
    height:30px;
    width:360px;
}
#searchSelect{
    background-color: var(--input);
    color:var(--text);
    border-radius: 0.5rem;
    border:0;
    box-shadow: 0 0 8px rgba(41, 43, 46, .2);
    margin-left: 1rem;
}

.Song {
    border-radius:5%;
    background-color: var(--elements);
    height:300px;
    width: 250px;
    margin-top: 15px;
    text-align: center;
    transition: 0.3s ease;
    overflow:hidden;
    box-shadow: 0 0 5px rgba(41, 43, 46, .2);
    img{
        margin:auto;
        height:50%;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
    }
    a{
        text-decoration: none;
        color:black;
    }
    h3{
        margin: 1rem 0.5rem 0.5rem 0.5rem;
    }
}
.Song span{
    padding-top: 1rem;
}

.Song:hover{
    scale:1.05;
}

.song button{
    background-color: var(--elements);
    border:0;
}

.loadingDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.loadingImg{
    height:200px;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}