
:root {
    --White: hsl(0, 0%, 100%);
    --lightGray: hsl(211, 12%, 48%);
    --Black: hsl(200, 15%, 8%);
    --maxWidth: 1350px;
    --radius: 10px;
}
a {
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.3s ease;
}
a:hover {
    color: var(--link-hover);
}

.loadingDiv {
    grid-column: span 4;
}
#books-not-found {
    grid-column: span 2;
    font-size: 1.5rem;
    padding: 1rem;
}
#books-container {
    background-color: var(--background);
    transition: background-color 0.3s ease, color 0.3s ease;
    color: var(--text);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#main-content {
    background-color: var(--background);
    transition: background-color 0.3s ease, color 0.3s ease;
}
/* Header */
.book-header {
    background: var(--header-background-animation);
    background-size: 1000% 1000%;
    animation: gradientAnimation 10s ease-in-out infinite;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: var(--shadow);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 2rem;
    /* max-height: 85px; */
}
#header-container {
    font-family: 'coffee soda';
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    max-width: var(--maxWidth);
    min-width: 240px;
    margin: 0 auto;
    padding-block: 1rem;
}
.brand {
    display: flex;
    gap: 10px;
    align-items: center;
}
#logo-img {
    cursor: pointer;
}
#brand-name {
    font-size: 1.2rem;
    font-weight: 700;
}
.theme-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#color-mode {
    font-weight: 400;
    font-size: 0.9rem;
    cursor: pointer;
}
#color-mode:hover {
    color: var(--lightGray);
}
/* Search Row */
#search-row {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    max-width: var(--maxWidth);
    min-width: 240px;
    margin: 0 auto 10px;
}
#search-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-left: 10%;
    margin-right: 10%;
    
    input {
        width: 100%;
        min-width: none;
        padding: 10px 20px 10px 40px;
        font-size: 16px;
        border: none;
        border-radius: var(--radius);
        color: var(--text);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: var(--input);
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    input::placeholder {
        color: #aaa;
    }
    #search-icon {
        height: 20px;
        aspect-ratio: 1/1;
        position: absolute;
        left: 10px; /* Adjust position of the icon */
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s ease;
        cursor: pointer;
    }
    #search-icon:hover {
        transform: scale(1.05) translateY(-50%);
    }
}
.favorites-button {
    font-family: cursive;
    font-size: 1rem;
    color: var(--text);
    background-color: var(--input);
    border: none;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    width: 150px;
    margin-left: auto;
    transition: 0.3s ease;
}
.favorites-button:hover {
    transform: scale(1.05);
}
.button-checked {
    background-color: var(--link-hover);
}
#filter-container {
    margin: auto 10%;
    max-width: 400px;
    transition: color 0.3s ease;

    label {
        font-weight: bold;
    }
    select {
        width: 61%;
        min-width: none;
        padding: 10px 20px 10px 10px;
        font-size: 16px;
        border: none;
        border-radius: var(--radius);
        margin-left: 7px;
        cursor: pointer;
        color: var(--text);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: var(--input);
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}
/* Cards */
#cards-container{
    max-width: var(--maxWidth);
    min-width: 240px;
    min-height: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    z-index: 100;
}
.card {
    position: relative;
    height: 300px;
    width: 250px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    padding: 20px;
    margin: 10px;
    text-align: center;
    line-height: 1.5rem;
    margin-inline: auto;
    background-color: var(--elements);
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    z-index: 100;

    .card-img {
        max-width: 75%;
        height: 150px;
        width: auto;
        border-radius: 10%;
        margin-inline: auto;
        margin-bottom: 10px;
    }

    .card-lang, .card-date{
        color: var(--lightGray);
    }
}
.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.card .space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}
/* Heart */
.heart-button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background: none;
    border: none;
    cursor: pointer;
    height: 40px;
    font-size: 35px;
    transition: 0.2s ease;
    color: rgb(181, 179, 179);
}
.heart-button:hover {
    transform: scale(1.15);
}
.big-card-like {
    top: 20px;
    font-size: 3.5rem;
}
/* Big Card */
#back-button {
    position: relative;
    height: 3rem;
    aspect-ratio: 2.5/1;
    padding: 1rem;
    margin: 1rem;
    border-radius: var(--radius);
    box-shadow: 0 0 8px rgba(41,43,46,.2);
    background-color: var(--background);
    transition: 0.3s ease;
    cursor: pointer;
    transition: 0.3s ease;
}
#back-button:hover {
    color: var(--lightGray);
    transform: scale(1.05);
}
#back-button #back-arrow {
    position: absolute;
    height: 30px;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
}
#back-button span {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%,-50%);
    margin: auto;
}
#book-selected-page {
    padding-inline: 30px;
}
#big-card-container {
    margin-inline: auto;
    padding: 1rem;
    max-width: var(--maxWidth);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    background-color: var(--elements);
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    position: relative;
    z-index: 100;
}
#big-card-container #data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 1.5rem;
    border: 2px brown;
    padding: 1rem;

    img {
        height: 250px;
        margin-inline: auto;
    }
    p {
        font-size: 1.5rem;
        line-height: 2rem;
        span{
            font-weight: bold;
        }
        
    }
    .book-details {
        padding: 1rem;
    }

    .book-description {
        grid-column: span 2;
        padding: 1rem;
        max-height: 200px;
        overflow-y: auto;
        border-left: 10px solid var(--link-color);
    }
}
/* Big Card- Carrousel */
#loading-carousel-container {
    padding: 25px;
}
#loading-carousel-container .loadingDiv {
    min-height: 0;
}
#loading-carousel-container h2 {
    margin-block: 20px;
}
.carousel-card {
    background-color: var(--background);
}
.slick-dots.custom-dots li button:before {
    font-size: 12px;
    color: var(--link-color);
    opacity: 0.75; 
}
.slick-dots.custom-dots li.slick-active button:before {
    color: var(--link-hover);
    opacity: 1;
}
.slick-dots.custom-dots li {
    margin: 0 5px;
}
.slick-dots.custom-dots {
    bottom: -30px;
}
.slick-dots.custom-dots li button:hover:before {
    color: var(--link-hover);
}

.slick-slider .slick-arrow {
    width: 35px;
    height: 35px;
    background-color: var(--link-color);
    border-radius: 50%;
    z-index: 9999;
}
/* Change the color on hover */
.slick-slider .slick-prev:hover,
.slick-slider .slick-next:hover,
.slick-slider .slick-prev:focus,
.slick-slider .slick-next:focus {
    background-color: var(--link-hover); 
}
/* Arrow styles */
.slick-slider .slick-prev:before,
.slick-slider .slick-next:before {
    position: absolute;
    transform: translate(-50%,-50%);
    color: black; 
    font-size: 18px;
    top: 45%;
}
.slick-slider .slick-prev:before {
    content: '◀';
    left: 45%;
}
.slick-slider .slick-next:before {
    content: '▶';
    left: 55%;
}
/* Back To Top */
#back-to-top {
    position: fixed;
    height: 60px;
    aspect-ratio: 1/1;
    bottom: 5%;
    right: 5%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 50%;
    z-index: 1000;
    opacity: 0.75;
}
#back-to-top:hover {
    transform: scale(1.05);
    box-shadow: var(--shadow);
}
/* Pagination */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--background);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.pagination-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--input);
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 20px;
    min-height: 40px;
    opacity: 0.75;
    z-index: 100;
}
.pagination-button {
    width: fit-content;
    background-color: transparent;
    border: none;
    padding: 8px 12px;
    margin-inline: 5px;
    font-size: 1rem;
    cursor: pointer;
    color: var(--text);
    transition: background-color 0.3s ease;
    border-radius: 50%;

}
.pagination-button:disabled {
    color: #ccc;
    cursor: not-allowed;
}
.pagination-button.active {
    background-color: var(--page-button);
    padding-block: 6px;
    text-align: center;
    border-radius: 50%;
}
.pagination-dots {
    aspect-ratio: 1/1;
    width: 40px;
    padding: 8px 12px;
    margin: 0 5px;
    font-size: 1.5rem;
}
.pagination-button.inactive:hover {
    background-color: var(--page-button-hover);
}
/* Footer */
.footer-container {
    position: relative;
    z-index: 0;
    margin-top: -7rem;
}
#svg {
    height: 450px;
}
.footer-content {
    position: absolute;
    transform: translate(-50%);
    top: 60%;
    left: 50%;
    width: 75%;
    max-width: var(--maxWidth);
    z-index: 10;
    background-color: transparent;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75% 25%;
}
.contact-container {
    width: 85%;
    max-width: 350px;
}
.made-with-container {
    width: 70%;
    max-width: 300px;
    margin-left: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.footer-content h2 {
    margin-bottom: 1rem;
    text-align: center;
}
.icons-row, .made-with-row {
    display: flex;
    justify-content: space-between;
    gap:15px;
    a {
        color: inherit;
    }
}
.contact-row {
    grid-column: span 2;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 17px;
}
.footer-icon {
    height: 50px;
}
.footer-icon:hover {
    color: var(--link-hover);
    transition: 0.3s ease;
    cursor: pointer;
}
/* MEDIA QUERIES */
@media (max-width: 1000px) {
    #search-row {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
    }
    .favorites-button {
        margin-inline: auto;
    }
    #filter-container {
        grid-column: span 2;
        margin-inline: auto;
        min-width: 300px;
    }
}
@media (max-width: 750px){
    #big-card-container #data {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .pagination-bar {
        min-height: 30px;
    }
    .pagination-button, .pagination-dots {
        width: fit-content;
        padding: 2px 4px;
        margin-inline: 3px;
        font-size: 2.5vw;
    }
    .pagination-button.active {
        padding-top: 4px;
    }
    #back-to-top {
        height: 40px;
    }
    .footer-content {
        top: 35%;
        display: flex;
        flex-direction: column;
        gap: 45px;
    }
    .contact-container {
        width: 100%;
    }
    .made-with-container {
        width: 100%;
        margin-left: 0;
    }
    #svg {
        height: 600px;
    }
    .footer-content h2 {
        text-align: left;
    }

}

@media (max-width: 500px) {
    #search-row {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #search-container {
        width: 80%;
    }
    .favorites-button {
        width: 75%;
    }
    #filter-container {
        grid-column: 1;
        max-width: 400px;
    }
    .theme-container {
        margin-inline: auto;
    }
    .pagination-button, .pagination-dots {
        margin-inline: 1.5px;
        font-size: 12.75px;
    }
    .pagination-button.active {
        padding-top: 3px;
    }
}
@media (max-width: 463px) {
    .slick-dots.custom-dots {
        bottom: -50px;
    }
    .carousel-card {
        max-width: 170px;
    }
    #loading-carousel-container {
        padding: 35px;
    }
}
/* ANIMATION */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}