@font-face {
    font-family: 'Arial Black';
    src: url('./../../assets/arial_black.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}

:root {
    --White: hsl(0, 0%, 100%);
    --lightGray: hsl(211, 12%, 48%);
    --Black: hsl(200, 15%, 8%);
    --maxWidth: 1350px;
    --radius: 10px;
}

#loadingGif {
    height: 300px;
    width: auto;
    display: block;
    margin: 100px auto;
}
#books-not-found {
    font-size: 1.5rem;
    padding: 1rem;
    grid-column: span 2; /* Takes 2 columns in the row*/
}
body { 
    transition: background-color 0.3s ease, color 0.3s ease;
}
#books-container {
    font-family: Arial, sans-serif;
    color: var(--text);

    header.book-header {
        background-color: var(--elements);
        box-shadow: var(--shadow);
        transition: background-color 0.3s ease, color 0.3s ease;
        margin-bottom: 2rem;

        #header-container {
            display: grid;
            grid-template-columns: 60% 40%;
            height: 85px;
            max-width: var(--maxWidth);
            min-width: 240px;
            margin: 0 auto;
            padding-block: 2rem;

            #brand-name {
                /* font-family: 'Arial Black'; */
                font-size: 1.2rem;
                font-weight: 700;
                margin-left: 10%;
            }

            #color-mode {
                font-weight: 400;
                font-size: 0.9rem;
                justify-self: end;
                margin-right: 15%;
                cursor: pointer;
            }
            #color-mode:hover {
                color: var(--lightGray);
            }
        }
    }

    #search-row {
        display: grid;
        grid-template-columns: 60% 40%;
        max-width: var(--maxWidth);
        min-width: 240px;
        margin: 0 auto 10px;

        #search-container {
            position: relative;
            width: 100%;
            max-width: 400px;
            margin-left: 10%;
            margin-right: 10%;
            
            input {
                width: 100%;
                padding: 10px 20px 10px 40px;
                font-size: 16px;
                border: none;
                border-radius: var(--radius);
                color: var(--text);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                background-color: var(--input);
                transition: background-color 0.3s ease, color 0.3s ease;
            }
            input::placeholder {
                color: #aaa;
            }
            #search-icon {
                height: 20px;
                aspect-ratio: 1/1;
                position: absolute;
                left: 10px; /* Adjust position of the icon */
                top: 50%;
                transform: translateY(-50%);
            }
        }

        #filter-container {
            margin: auto 10%;
            max-width: 400px;
            transition: color 0.3s ease;

            select {
                width: 61%;
                padding: 10px 20px 10px 10px;
                font-size: 16px;
                border: none;
                border-radius: var(--radius);
                margin-left: 7px;
                cursor: pointer;
                color: var(--text);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                background-color: var(--input);
                transition: background-color 0.3s ease, color 0.3s ease;
            }
        }


    
    }

    #cards-container{
        max-width: var(--maxWidth);
        min-width: 240px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        padding: 20px;

        .card {
            position: relative;
            height: 300px;
            width: 250px;
            border-radius: var(--radius);
            box-shadow: var(--shadow);
            padding: 20px;
            margin: 10px;
            text-align: center;
            line-height: 1.5rem;
            margin-inline: auto;
            background-color: var(--elements);
            transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;

            .card-img {
                max-width: 75%;
                height: 150px;
                width: auto;
                border-radius: 10%;
                margin-inline: auto;
                margin-bottom: 10px;
            }

            .card-lang, .card-date{
                color: var(--lightGray);
            }
        }
        .card:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
    }

    .heart-button {
        position: absolute;
        bottom: 5%;
        right: 5%;
        background: none;
        border: none;
        cursor: pointer;
        height: 40px;
        font-size: 35px;
        transition: 0.2s ease;
        color: rgb(181, 179, 179);
    }
    .heart-button:hover {
        transform: scale(1.15);
    }
    .heart-button.liked {
        color: red;
    }
}
#back-button {
    position: relative;
    height: 3rem;
    aspect-ratio: 2.5/1;
    padding: 1rem;
    margin: 1rem;
    /* width: fit-content; */
    border-radius: var(--radius);
    box-shadow: 0 0 8px rgba(41,43,46,.2);
    background-color: var(--elements);
    transition: 0.3s ease;
    cursor: pointer;

    transition: 0.3s ease;
}
#back-button:hover {
    color: var(--lightGray);
    transform: scale(1.05);
}
#back-button #back-arrow {
    position: absolute;
    height: 30px;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
}
#back-button span {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%,-50%);
    margin: auto;
}

#big-card-container {
    margin-inline: 2.5rem;
    padding: 1rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    background-color: var(--elements);
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}
#big-card-container #data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 1.5rem;
    border: 2px brown;
    padding: 1rem;

    img {
        height: 250px;
        margin-inline: auto;
    }
    p {
        font-size: 1.5rem;
        line-height: 2rem;
        span{
            font-weight: bold;
        }
        a {
            text-decoration: none;
            color: var(--link-color);
        }
        a:hover {
            color: var(--link-hover);
        }
    }
    .book-details {
        padding: 1rem;
    }

    .book-description {
        grid-column: span 2;
        padding: 1rem;
        max-height: 200px;
        overflow-y: auto;
    }
}

@media (max-width: 750px){
    #books-container #search-row {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap:10px;
    }

    #big-card-container #data {
        display: flex;
        flex-direction: column;
    }
}